---
import fondo from "../../assets/seccion4/fondo.png";

---


<section class="flex justify-center mb-80">
    <div class="border border h-100 w-4/5">
        <h1 class="text-titulos font-semibold text-3xl text-center md:text-end mb-5">¿Por qué trabajar con Grupo Ajaw Ingeniería?</h1>
        <p class="text-textos text-base font-medium md:text-xl text-center md:text-end">No solo ejecutamos proyectos. Construimos soluciones<br> estratégicas adaptadas a cada necesidad.</p>
    </div>
</section>