---
import icono from "../../assets/inicio/s2-elemento1.png";
import imagen from "../../assets/inicio/s2-elemento2.png";
---


<section>

    <div class="mx-auto py-20 w-4/5 mt-30">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-20 items-center">
            <!-- IZQUIERDA -->
            <div class="relative">
                <!-- Línea -->
                <div
                    class="absolute left-7 top-10 bottom-12 border-l-2 border-dashed border-blue-300"
                >
                </div>

                <div class="space-y-14">
                    <!-- MISIÓN -->
                    <div class="flex gap-6 relative">
                        <div
                            class="w-14 h-14 rounded-full bg-titulos text-white flex items-center justify-center shrink-0 z-10"
                        >
                            <i class="fa-solid fa-bullseye text-2xl"></i>
                        </div>

                        <div>
                            <h3 class="text-2xl md:text-4xl  font-bold text-titulos mb-3">
                                Nuestra Misión
                            </h3>

                            <p class="text-textos text-base md:text-xl font-medium leading-8 max-w-lg text-justify">
                                Ayudamos a que negocios del sector HORECA operen
                                de manera más eficiente con soluciones en
                                ingeniería y mantenimiento industrial.
                            </p>
                        </div>
                    </div>

                    <!-- VISIÓN -->

                    <div class="flex gap-6 relative">
                        <div
                            class="w-14 h-14 rounded-full bg-titulos text-white flex items-center justify-center shrink-0 z-10"
                        >
                            <i class="fa-regular fa-eye text-2xl"></i>
                        </div>

                        <div>
                            <h3 class="text-2xl md:text-4xl  font-bold text-titulos mb-3">
                                Nuestra Visión
                            </h3>

                            <p class="text-textos text-base md:text-xl font-medium  leading-8 max-w-lg text-justify">
                                Ser el socio estratégico en marcas premium y la
                                primera opción para distribuidores y agencias de
                                servicio en México y el mundo.
                            </p>
                        </div>
                    </div>

                    <!-- VALORES -->

                    <div class="flex gap-6 relative">
                        <div
                            class="w-14 h-14 rounded-full bg-titulos text-white flex items-center justify-center shrink-0 z-10"
                        >
                            <i class="fa-regular fa-gem text-2xl"></i>
                        </div>

                        <div>
                            <h3 class="text-2xl md:text-4xl font-bold text-titulos mb-4">
                                Nuestros Valores
                            </h3>

                            <div
                                class="flex flex-wrap gap-x-5 gap-y-3 text-[#D89A2B] text-base md:text-xl font-medium  "
                            >
                                <span>Lealtad</span>
                                <span>Respeto</span>
                                <span>Convicción</span>
                                <span>Integridad</span>
                                <span>Servicio</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DERECHA -->

            <div class="flex justify-end">
                <img
                    src={imagen.src}
                    alt="Grupo Ajaw"
                    class="rounded-3xl shadow-2xl w-[400] h-[500px] object-cover"
                />
            </div>
        </div>
    </div>
</section>

<!-- MARCAS -->
