---
import MainLayout from "../layouts/MainLayout.astro";
import heroImage from "../assets/inicio/fondoinicio.png";
import img_seccion2 from "../assets/inicio/seccion2.png";
import Seccion2 from "./sections/seccion2.astro";
import Seccion3 from "./sections/seccion3.astro";
import Seccion5 from "./sections/seccion5.astro";
---

<MainLayout>

<section class="relative min-h-screen overflow-hidden border border">

  <!-- Fondo -->
  <div class="absolute inset-0">
    <img
      src={heroImage.src}
      alt="Equipo"
      class="w-full h-full object-cover"
    />
  </div>


  <!-- Contenido -->
  <div class="relative z-10 max-w-7xl mx-auto px-2 min-h-screen flex items-center">
    <div class="w-full lg:w-1/2 text-white">
      <h1 class="text-5xl md:text-6xl font-bold leading-tight mb-6">
        Experiencia e
        <br />
        innovación en
        <br />
        acción.
      </h1>

      <p class="text-lg text-gray-300 max-w-md mb-10">
        Impulsamos el crecimiento de nuestros clientes con
        tecnología y talento especializado.
      </p>
      <a
        href="#"
        class="inline-flex items-center justify-center
               px-10 py-4
               border border-white
               rounded-full
               text-lg font-semibold
               hover:bg-white hover:text-[#001133]
               transition-all duration-300"
      >
        Conoce más
      </a>
    </div>
  </div>

  

</section>

<!--SECCION 2 QUIENES SOMOS -->
<div class="flex flex-col items-center">
  <div class="w-4/5 grid grid-cols-1 md:grid-cols-2 gap-10 md:mt-20 border border">
    <div>
      <h1 class="text-textos text-5xl font-bold tracking-wider md:mb-7">¿Quiénes <span class="text-titulos">Somos?</span></h1>
      <div class="border border-white w-30 md:mb-10"></div>
      <p class="text-textos text-lg/8 font-normal tracking-wide">En Grupo Ajaw Ingeniería reunimos talento, experiencia y especialización para brindar soluciones completas en el sector de ingeniería y servicios técnicos.<br/>
      Somos un grupo empresarial conformado por distintas unidades de negocio que trabajan de manera coordinada, permitiéndonos ofrecer un servicio integral, competitivo y de alto valor para nuestros clientes.
      </p>
      <div class="border border-titulos md:mt-10 h-20">

      </div>
    </div>
    <div class="flex justify-end">
      <img src={img_seccion2.src} alt="imagen 1" class="">

    </div>
  </div>
</div>

<Seccion2 />
<Seccion3 />
<Seccion5 />
</MainLayout>