---
import '../styles/global.css';
import grupoLogo from '../assets/seccion1/logo.png'
import ajawLogo from '../assets/seccion1/logo2.png'

const urlAjaw = "https://ajaw.com.mx";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
    <title>Acceso - Ajaw</title>
  </head>

  <body class="flex flex-col items-center justify-center h-screen w-full bg-no-repeat bg-center bg-cover bg-[url('../assets/accessPageMovil.png')] md:bg-[url('../assets/accessPage.png')]">
    

    <main class="">
      <h2 class="text-xl md:text-2xl font-semibold mb-4 text-gray-500 text-center">Elige a que página quieres ingresar:</h2>
      
      <div class="flex flex-col md:flex-row gap-10 items-center">
        <a href="/grupo" class="">
          <img src={grupoLogo.src} alt="" class="w-45 md:w-50 transform transition-all duration-300 ease-in-out filter md:grayscale md:opacity-40 hover:grayscale-0 hover:opacity-100 hover:scale-110">
        </a>


        
        <a href="{urlAjaw}" class="">
          <img src={ajawLogo.src} alt="" class="w-50 md:w-70 transform transition-all duration-300 ease-in-out filter md:grayscale md:opacity-40 hover:grayscale-0 hover:opacity-100 hover:scale-110">
        </a>
      </div>
    </main>

  </body>
</html>
